/*Style.css*/

#link{
  width: 100%;
  display: flex;
}
#lyrics{
  width: 40%;
  margin-right: 20px;
  display: flex;
}
#interactive{
  width: 30%;
  display: flex;
}
#on{
  width: 10%;
  margin-left: 10px;
}
#off{
  width: 10%;
  margin-left: 10px;
}
#picture{
  width: 30%;
  margin-left: 10px;
}
#sanskrith_text{
  width: 20%;
  margin-left: 5px;
}
#english_text{
  width: 20%;
  margin-left: 5px;
}
#lyric_space{
  width: 100%;
  display: flex;
}
#translation{
  width: 40%;
  margin-right: 20px;
  display: flex;
}
#sanskrith{
  width: 100%;
  margin-right: 20px;
}
#english{
  width: 100%;
  margin-right: 20px;
}
#meaning{
  width: 50%;
}
#image{
  margin-left: 10px;
  width: 50%;
}
